<!DOCTYPE html>
<html>
    <head>
       
        <title>Klaxon</title>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
 
        <link rel="stylesheet" type="text/css" href="static/style.css"/>
        <script src="static/script.js"></script>
    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="apple-touch-icon" href="static/klaxon.png"/>

    </head>
    <body>
        <div class="full">
                
            <nav>
                <div class="buttonBarContainer">
                    <h1>klaxon</h1>
                </div>
            </nav>
            <div class="buttonBar red" data-event="red">
                <div class="buttonBarContainer">
                    <i class="far fa-lightbulb"></i>
                </div>
            </div>
            <div class="buttonBar yellow" data-event="yellow">
                <div class="buttonBarContainer">
                    <i class="far fa-lightbulb"></i>
                </div>
            </div>
            <div class="buttonBar green" data-event="green">
                <div class="buttonBarContainer">
                    <i class="far fa-lightbulb"></i>
                </div>
            </div>
            <div class="buttonBar disco" data-event="disco">
                    <div class="buttonBarContainer">
                        <i class="fas fa-globe"></i>
                    </div>
                </div>
            <div class="buttonBar buzzer" data-event="buzzer">
                <div class="buttonBarContainer">
                    <i class="fas fa-volume-up"></i>
                </div>
            </div>
            <div class="buttonBar50 off" data-event="off">
                <div class="buttonBarContainer">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="buttonBar50 shutdown" data-event="shutdown">
                <div class="buttonBarContainer">
                    <i class="fas fa-power-off"></i>
                </div>
            </div>
            
        </div>
    </body>
</html>